*, *::after, *::before {
	box-sizing: border-box;
	font-family: sans-serif;
	color: var(--text-color);
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	margin: 20px;
}

:root {
	--brand-purple: hsl(238, 52%, 38%);
	--brand-purple-transparent: hsla(238, 52%, 38%, 0.4);
	--brand-green: hsl(128, 52%, 47%);
	--brand-green-transparent: hsla(128, 52%, 47%, 0.4);
	--brand-dark-blue: hsl(204, 100%, 37%);
	--brand-light-blue: hsl(198, 76%, 52%);
	--header-height: 12vh;
}

body {
	--body-background: hsla(0, 0%, 100%, 1);
	--header-background: rgba(255, 255, 255, 0.8);
	--text-color: rgba(0, 0, 0, 0.8);
	--important-text-color: black;
	--nav-link-hover-background-color: hsla(198, 76%, 52%, 0.2);
	background-color: var(--body-background);
	background-image: linear-gradient(to left, var(--brand-purple-transparent), var(--brand-green-transparent));
	transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

body.dark {
	--body-background: hsla(0, 0%, 12%, 1);
	--header-background: rgba(0, 0, 0, 0.7);
	--text-color: rgba(255, 255, 255, 0.8);
	--important-text-color: white;
	--nav-link-hover-background-color: rgba(255, 255, 255, 0.2);
}

header, footer {
	height: var(--header-height);
	padding: 2px 5vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--header-background);
	color: var(--important-text-color);
	transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

header {
	position: sticky;
	z-index: 5;
	top: 0;	
	border-bottom: 2px solid var(--brand-light-blue);
}

@media all and (max-width: 780px) {
	header.show-mobile {
		flex-direction: column;
		justify-content: space-around;
		height: 350px;
	}
}

h1 {
	height: 45px;
	width: 100px;
}

.header-logo-container {
	display: block;
	height: 100%;
	width: 100%;
	padding: 6px 10px;	
	background-color: #fff;
	border-radius: 100px; /*always rounded and pill shaped */
}

.header-logo {
	object-fit: contain;
}

.nav-links {
	min-width: 35vw; 
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 0;
}

@media all and (max-width: 780px) {
	.nav-links {
		display: none;
	}

	header.show-mobile .nav-links {
		display: flex;
		flex-direction: column;
		min-width: auto;
		height: 150px;
	}
}



.hamburger-icon {
	display: none;
	background-color: transparent;
	position: fixed;
	margin: 0;
	top:6vh;
	transform: translateY(-50%);
	right:10%;
	height: 30px;
	width: 30px;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
	padding: 2px;
}

@media all and (max-width: 780px) {
	.hamburger-icon{
		display: flex;
	}
}

.hamburger-line {
	height: 2px;
	border-radius: 1px;
	transition: 300ms ease-in-out;
}

.hamburger-top {
	background-color: var(--brand-light-blue);	
	transform-origin: left;
}

header.show-mobile .hamburger-top {
	transform: translateX(1px) rotateZ(42deg);
}

.hamburger-middle {
	background-color: var(--brand-dark-blue);
}

.hamburger-bottom {
	background-color: var(--brand-green);	
	transform-origin: left;
}

header.show-mobile .hamburger-bottom {
	transform: translateX(1px) rotateZ(-42deg);
}


.nav-link, .back-to-top {
	font-size: 1.5rem;
	padding: 5px 15px;
	border-radius: 100px;  /*always rounded and pill shaped */
	transition: 300ms 100ms ease-in-out;
}

html{
	scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
}


.nav-link {
	list-style: none;
}

.nav-link:hover, .back-to-top:hover {
	background-color: var(--nav-link-hover-background-color);
	color: var(--important-text-color);
}

[href^="#"] {
	line-height: 100%;
	text-decoration: none;
	color: var(--brand-light-blue);
	font-variant: small-caps;	
	transition: 300ms 100ms ease-in-out;
}

.nav-link:hover a {
	color: var(--important-text-color);
}

.dark-mode-toggle {
	position: relative;
	--outer-height: 30px;
	--outer-width: 60px;
	height: var(--outer-height);
	width: var(--outer-width);
	border-radius: calc(var(--outer-height) / 2);
	background-color: var(--nav-link-hover-background-color);
	transition: 300ms ease-in-out;
}

@media all and (max-width: 780px) {
	.dark-mode-toggle {
		display: none;
	}

	header.show-mobile .dark-mode-toggle {
		display: block;
	}
}

.dark-mode-toggle::before {
	content: '🌞';
	position: absolute;
	top: 50%;
	left: 0%;
	--size: 25px;
	line-height: var(--size);
	font-size: 16px;
	--padding: 3px;
	width: var(--size);
	height: var(--size);
	transform: translate(var(--padding), -50%);
	background-color: var(--brand-light-blue);
	border-radius: calc(var(--size) / 2);
	transition: 300ms ease-in-out;
}

.dark-mode-toggle.dark::before {
	content: '🌙';
	transform: translate(calc(var(--outer-width) - var(--size) - var(--padding)), -50%);
	background-color: var(--brand-purple);
}

article {
	position: relative;
	min-height: calc(100vh - var(--header-height));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

@media all and (max-width: 780px) {
	article {
		min-height: auto;
	}
}

article:not(:last-child)::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 5vw;
	height: 2px;
	border-radius: 1px;
	background-color: var(--brand-light-blue);
	width: 90vw;
}

article > h2, h3 {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 0.5rem;
	color: var(--important-text-color);
	transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

h3 {
	font-size: 1.5rem;
	margin-bottom: 0.375rem;
}

article > section {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 5px;
}

@media all and (max-width: 780px) {
	article > section {
		flex-direction: column;
	}
}

article > section > section {
	width: 40vw;
	min-height: 50vh;
	font-size: 0.9rem;
	transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
	margin: 20px;
}

@media all and (max-width: 780px) {
	article > section > section {
		width : 80vw;
		min-height: auto;
	}
}

.hero {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.tagline {
	color: var(--brand-purple);
	padding-top: 5px;
}

.hero-logo {
	width: 18vw;
}

@media all and (max-width: 780px) {
	.hero-logo {
		width: 50vw;
	}
}

.cta-btn {
	background-color: white;
	color: var(--brand-green);
	border: 3px solid var(--brand-green);
	border-radius: 100px;
	font-weight: bold;	
	transition: background-color 300ms ease-in-out, color 300ms 100ms ease-in-out, box-shadow 300ms ease-in-out;
}

.cta-btn:hover {
	background-color: var(--brand-green);
	color: white;
}

.buy-now-btn {
	margin-left: 0px;
	font-size: 2rem;
	box-shadow: 5px 5px 5px 3px black;
	padding: 0.1rem 0.6rem;
}

.buy-now-btn:hover {
	box-shadow: 3px 3px 5px 3px black;	
}

.product {
	background-color: var(--header-background);
	display: flex;
	min-height: 60vh;
	border-radius: 20px;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: auto;
	padding: 15px;
	padding-top: 0px;
}

.product-image {
	width: 25vw;
}

@media all and (max-width: 780px) {
	.product-image {
		width: 80vw;
	}
}

.product-btn {
	font-size: 1.5rem;
	box-shadow: 3px 3px 5px 2px black;
}

.product-btn:hover {
	box-shadow: 2px 2px 5px 2px black;	
}

.history-section {
	justify-content: center;
}

.history-image {
	width: 20vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media all and (max-width: 780px) {
	.history-image {
		width: 40vw;
	}
}

.history-image img {
	width: 20vw;
}

@media all and (max-width: 780px) {
	.history-image img {
		width: 40vw;
	}
}

.history-text {
	display: flex;
	align-items: center;
}

footer {
	font-size: 1.2rem;
	border-top: 2px solid var(--brand-light-blue);
}

footer * {
	color: var(--important-text-color);
	text-align: center;
}

.footer-brand-name {
	font-size: 2rem;
}

